.body-container{
    height: 75vh;

    display: flex;
    flex-direction: column;
}

.body-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 1rem 2rem;
}

.body-top .new-task{
    display: flex;
    align-items: center;

    width: 100%;
}

.body-top input{
    border: none;
    outline: none;
    font-size: .8rem;
    padding: .4rem;
    border: 1px solid rgb(230, 230, 230);

    width: 100%;

    margin-left: 1rem;
}

.body-top button{
    background-color: #00305f;
    color: #fff;

    margin-left: .5rem;
    cursor: pointer;
}

.body-top .new-task button:hover{
    background-color: #002447;
}

.tasks{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

@media(max-width: 700px){
    .body-top .new-task{
        flex-direction: column;
    }
    .body-top .new-task button{
        margin-top: .5rem;
    }
}